* {
    font-family: sans-serif;
    color: #cdcdef;
}

body {
    margin: 0;
    background-color: #121212;
}

h1 {
    margin-top: 50px;
    margin-left: 10px;
}

h2, p {
    margin-left: 10px;
}

nav {
    position: fixed;
    top: 0;
    width: calc(100% - 10px);
    margin-left: 0;
    padding: 10px;
    background-color: #012345;
    border-bottom-right-radius: 30px;
}

.docsembed {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

#about img {
    float: right;
    height: 500px; /* temp - with big photo adjust */
    width: auto;
    margin-right: 10px;
}